.navigation li {
    float: right;
}

.navigation ul {
    list-style-type: none;  
    position: fixed;
    top: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    width: 75%;
    margin-top: 3px;
}

.navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: lightgrey;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 2px;
}

.navigation li a:hover {
    color: white;
}

.navigation img {
    max-width: 25%;
    height: auto; 
}